body{font-size: 12px;}
.item3:hover {
    background-color: black;
    color: rgba(97, 15, 15, 0);

}
.item4 {
        color: red;
    }

.item5 {
        color: blue;
    }
h1{font-family: 'Nanum Brush Script', cursive;}
.fonttest1{color: greenyellow; font-size: 200%;}
.fonttest2{direction:rtl;}
.fonttest3{letter-spacing: -0.1ch;}
.fonttest4{line-height: 0.4cm;}
.fonttest5{text-align: center;}
.fonttest6{text-decoration: underline;}
.fonttest7{text-indent: 2ch;}
.fonttest8{text-shadow: 5px 5px 1px purple;}
.fonttest10{text-transform: lowercase;}
